{
	"extends": "stylelint-config-standard",
	"ignoreFiles": "node_modules/**/*",
	"rules": {
		"block-no-single-line": true,
		"block-opening-brace-newline-after": "always",
		"block-opening-brace-newline-before": "never-multi-line",
		"color-hex-length": "short",
		"color-named": "never",
		"color-no-invalid-hex": true,
		"max-empty-lines": 2,
		"max-line-length": 120,
		"max-nesting-depth": 4,
		"no-duplicate-selectors": true,
		"no-descending-specificity": true,
		"no-indistinguishable-colors": true,
		"property-no-unknown": true,
		"selector-combinator-space-after": "always",
		"selector-combinator-space-before": "always",
		"selector-list-comma-newline-after": "always",
		"selector-list-comma-newline-before": "never-multi-line",
		"time-no-imperceptible": true,
		"unit-blacklist": ["pt"]
	}
}
